.cardContainer {
  
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
  }

}

.card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 100%;

  @media (min-width: 720px) {
    width: 24em;
    align-items: flex-start;
    order: 0;
  }

  h2 {
    margin-bottom: 0;
  }

}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  order: 0;
  margin: 0 0 2em;

  @media (min-width: 720px) {
    align-items: flex-start;
    order: 1;
    margin: 0 0 0 2em;
  }

  h2 {
    font-size: 2em;
  }

  button {
    font-size: 1.2em;
  }
  
}